<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>970222441212-0j7j8999shmupcg68r0f2rmq6jrt3rgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970222441212-0j7j8999shmupcg68r0f2rmq6jrt3rgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBWaH5Sgnm_LMJswc-SRUEg9qXP2zPw1GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>970222441212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aking.Picture-Map</string>
	<key>PROJECT_ID</key>
	<string>picture-map-c00ed</string>
	<key>STORAGE_BUCKET</key>
	<string>picture-map-c00ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:970222441212:ios:35492b3fb0110c30</string>
	<key>DATABASE_URL</key>
	<string>https://picture-map-c00ed.firebaseio.com</string>
</dict>
</plist>